 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://images.stockcake.com/public/b/5/e/b5e38cff-b2dc-4dbf-9d1f-7638b75d38d3_large/twilight-pixel-city-stockcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50 px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background-color: ;
    backdrop-filter: blur(5px);
    box-shadow: 0 35px 80px rgba(0, 0,0, 0.15);
    transition: 0.5s;
    border-radius: 10px;
}

.container .card .img-box{
    width: 330px;
    height: 220px;
    position: absolute;
    top: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 15px white;
}

.container .card:hover {
    height: 400px;
}

.container .card:hover .img-box {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.container .card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 252px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .content {
    top: 130px;
    height: 250px;
}

.container .card .content p {
    color: rgb(148, 4, 4);
    margin-top: 10px;
}

.container .card .content a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -13px;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    color: rgb(0, 24, 245);
    font-weight: 500;
    border-radius: 5px;
}

.container .card .content a:hover {
    opacity: 0.8;
}

.container label {
  color: rgb(255, 11, 11);
  text-align: left;
}
.container input {
  width: 90%;
  padding: 8px 7px;
  margin-top: 7px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background-color: "#efcfcfc";
  color: red;
  font-size: 10px;
}

.container .card button {
    display: block;
    width: 95px;
    height: 24px;
    background-color: rgb(43, 19, 179);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
     position: relative;
    transform: translateX(100%);
}