* {
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {

    background-image: url("https://wallpapercave.com/wp/wp14308226.png");

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;
}

.menu {
    width: 100%;
    background: rgba(0,0,0,0.4);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 15px;
    justify-content: center;
    gap: 40px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.menu ul li a:hover {
    color: rgb(255, 149, 0);
    transition: 0.2s;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.container .card {
    position: relative;
    width: 350px;
    height: 300px;
    backdrop-filter: blur(5px);
    /*background-color: rgb(153, 233, 26);*/
    border-radius: 10px;
    box-shadow: 0 35px 80px rgba(0, 0,0, 0.15);
    transition: 0.5s;
}

.container .card:hover {
    height: 420px;
}

.container .card .img-box{
    width: 350px;
    height: 220px;
    position: absolute;
    top: 1px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 15px white;
}

.container .card:hover .img-box {
    top: -80px;
    transform: scale(0.75)
}

.container .card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 260px;
    width: 100%;
    height: 35px;
    padding: 0 30px;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

.container .card:hover .content {
    top: 140px;
    height: 260px;
}

.container .card .content h1 {
    color: white;
}

.container .card .content p {
    color: #ff0000;
    margin-top: 15px;
}

.container .card button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(43, 19, 179);
    color: white;
    border: none;
    border-radius: 5px;
}